@import "tailwindcss";


@theme {
  --color-primary: #00ad00;
  --color-primary-light: #a5ffa5;
  --color-background: #1e1e1e;
  --color-text: #fafafa;
  --color-border: #3e3e3e;

  /* Fonts */
  --font-primary: "Inter", ui-sans-serif, system-ui;
}


:root{
  background-color: #0e0e0e;
}