@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,300;1,14..32,300&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #aeffc7;
  --color-primary-outer: #aeffc755;
  --color-primary-light: #a5ffa5;
  --color-background: #1e1e1e;
  --color-text: #fafafa;
  --color-border: #3e3e3e;
  --color-card: #232224;
  --color-card-border: #737274;
  --color-title: #aeaeAe;

  /* Fonts */
  /* --font-primary: "Inter", ui-sans-serif, system-ui; */
}


:root{
  background-color: #0e0e0e;
  font-family: "Inter", sans-serif;
}
::selection {
  @apply bg-primary text-black;
}
.card{
@apply bg-card rounded-lg flex justify-center items-center shadow-[-1px_-1px_1px_0_rgba(255,255,255,0.2)]
}